<h2>Recheche d'installations sportives</h2>
<form name='monForm' action='show_installation'>
    Rechercher par 
    <select name='recherche'>
        <option value='Comlib'> Ville 
        <option value='InsCodePostal'> Code Postale
        <option value='InsLibelleVoie'> Adresse
        <option value='InsNumeroInstall'> ID Installation 
        <option value='InsPartLibelle'> Nom Installation
        <option value='Latitude'> Latitude
        <option value='Longitude'> Longitude
    </select>
    :
    <input type="text" name='id'>
    <input type="submit">
    <a href="index" class="button orange">Retour</a>
</form>